.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color:#1F2937;
    align-items: center;
    text-align: center;
    color: #E5E7EB;
    margin-top: 50px;
}

img .default {
    height: 10px;
    width: 10px;
}