.header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #1F2937;  
}

.header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #F9FAF8;
    font-size: 24px;
}

.header_right {
    display: flex;
    gap: 10%;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}